# Arquivos de ambiente e segredos
.env

# Arquivos compilados do Python
__pycache__/
*.py[cod]

# Ambiente Virtual
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Arquivos de Documentação Local (Não versionados)
Documentacao.txt
*.log