body { 
    background-color: #f4f6f9; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    font-family: 'Segoe UI', sans-serif;
}

.card-login { 
    width: 100%; 
    max-width: 400px; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    border: none;
}

.logo-area { 
    text-align: center; 
    margin-bottom: 20px; 
    color: #0d6efd; 
    font-weight: bold; 
    font-size: 1.5rem; 
}